body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

/* Chat box */
#messages {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

/* Input + button */
#chat-form {
  margin-top: 10px;
}

#message {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}
body {
  background-color: red !important;
}
